---
import Search from './Search.astro'
---

<header>
  <a href="/">mouse's blog</a>

  <Search />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
</style>
