---
import type { CollectionEntry } from 'astro:content'

interface Props {
  posts: CollectionEntry<'blog'>[]
}
const { posts } = Astro.props

const sortedPosts = posts.sort((a, b) => {
  return (a.data.pubDate ?? 0) > (b.data.pubDate ?? 0) ? -1 : 1
})
---

<ul transition:animate="fade">
  {
    sortedPosts.map((post) => (
      <li>
        <span>{(post.data.updateAt ?? post.data.pubDate)?.toLocaleDateString('ja-JP')}</span>
        <a href={`/posts/${post.id}`} transition:name={post.id}>
          {post.data.title}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: grid;
    gap: 1rem;
  }

  li {
    display: grid;
  }
</style>
