---
import { Icon } from 'astro-icon/components'
import PageFindSearch from 'astro-pagefind/components/Search'
---

<button>
  <Icon name="mdi:magnify" />
</button>

<dialog>
  <div>
    <PageFindSearch
      id="search"
      uiOptions={{ autofocus: true, showImages: false, showSubResults: true }}
    />
  </div>
</dialog>

<script>
  document.addEventListener('astro:page-load', () => {
    const button = document.querySelector('button')!
    const dialog = document.querySelector('dialog')!

    button.addEventListener('click', () => {
      dialog.close()
      dialog.showModal()
    })
    dialog.addEventListener('click', (event) => {
      if (event.target === dialog) {
        dialog.close()
      }
    })
  })
</script>

<style>
  button {
    cursor: pointer;

    display: grid;
    place-items: center;

    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.25rem;

    font-size: 1.5rem;
    color: var(--on-surface-variant);

    background-color: var(--surface-variant);
  }

  dialog {
    width: calc(100% - 4rem);
    max-width: 768px;
    height: calc(100dvh - 8rem);
    border-radius: 0.5rem;

    color: var(--on-surface);

    background-color: var(--surface);
  }
</style>

<style is:global>
  #search {
    /* main */
    --pagefind-ui-background: var(--surface);
    --pagefind-ui-text: var(--on-surface);

    /* outside border */
    --pagefind-ui-border: var(--outline);

    /* "load next" buttton text */
    --pagefind-ui-primary: var(--on-primary-container);
    --pagefind-ui-tag: var(--tertiary-container);
  }
</style>
