---
import Header from '../components/Header.astro'
import { ClientRouter } from 'astro:transitions'
import 'the-new-css-reset/css/reset.css'
import '../styles/theme.css'
import '../styles/global.css'

interface Props {
  pageTitle?: string
}
const { pageTitle } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>
      {pageTitle ? `${pageTitle} | ` : ''} mouse's blog
    </title>
    <slot name="head" />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
